html {
	background-color: #eeeeee;
	color: white;
	font-family: "lato";
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: "lato";
	src: url("fonts/lato.ttf");
}
body {
	margin: 0;
	padding: 0;
}

nav {
	position: absolute;
	top: 0;
	font-size: 25px;
	display:block;
	width: 100%;
	background: #5265aa; /* Old browsers */
	background: -moz-linear-gradient(top, #5265aa 44%, #4555a4 92%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(44%,#5265aa), color-stop(92%,#4555a4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5265aa 44%,#4555a4 92%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5265aa 44%,#4555a4 92%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5265aa 44%,#4555a4 92%); /* IE10+ */
	height: 2em;
	padding-top: 20px;
}

#list {
	padding-top: 75px;
}

#title {
	margin-left: 15px;
	position: absolute;
	top: 32px;
}

#add {
	margin-right: 8px;
	float: right;
	width: 40px;
	height: 40px;
	font-size: 40px;
	text-align: center;
	line-height: 52px;
}

#add:active {
	opacity: .5;
}

#delete {
	opacity: .5;
	float: right;
	margin-right: 10px;
	margin-top: 25px;

}

#item {
	background-color: white;
	display:block;
	color: #414141;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 92%;
	height: 68px;
	margin-top: 15px;
	border: 0.5px solid #d0d1d2;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	border-radius: 0px;
}

textarea {
	padding-top: 10px;
	font-family: "lato";
	line-height: 23px;
	font-size: 16px;
	color: #414751;
	vertical-align: middle;
	resize: none;
}

textarea:focus {
	font-family: "lato";
	font-size: 16px;
	outline: none; 
	color: #4555a4;
}

h2 {
	font-size:  18px;
	color: #808083;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 30px;
}


