html {
	background-color: #eeeeee;
	color: white;
	font-family: "varela";
	width: 100%;
	height: 100%;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

*:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@font-face {
	font-family: "varela";
	src: url("fonts/varela.otf");
}

@font-face {
	font-family: "lato";
	src: url("fonts/latosemi.ttf");
}

body {
	margin: 0;
	padding: 0;
}

nav {
	position: fixed;
	top: 0;
	text-align: center;
	font-size: 24px;
	display:block;
	width: 100%;
	background-color: #1abc9c;
	height: 50px;
	padding-top: 20px;
}

#list {
	padding-top: 75px;
}

#empty {
	width: 100%;
	margin: auto;
	margin-top: 70px;
	color: #a5a7aa;
	font-family: "lato";
	text-align: center;
	display: blocks;
}

#date {
	font-size: 19px;
	top: 38px;
	position: fixed;
	margin-left: 10px;
	opacity: .6;
}


#title {
	position: fixed;
	width: 80px;
	top: 35px;
	left: 50%;
	margin-left: -40px;
}

#add {
	position: fixed;
	right: 11px;
	opacity: .6;
	top: 36px;
}

#add:active {
	opacity: .5;
}

#delete {
	position: absolute;
	color: #b1b1b2;
	font-family: "lato";
	background-color: white;
	height: 42px;
	width: 146px;
	text-align: center;
	line-height: 42px;
	border: 2px solid #d0d1d2;
	left: 50%;
	margin-left: -73px;
	border-radius: 5px;
	display: none;
	margin-top: 20px;
	margin-bottom: 20px;
}

#delete:active {
	background-color: #d8d8d8;
}

.complete {
	position: fixed;
	right: 30px;
	margin-top: 27px;
	height: 20px;
	user-drag: none; 
	-moz-user-select: none;
	-webkit-user-drag: none;
}

.item {
	background-color: white;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 92%;
	height: 75px;
	margin-top: 15px;
	border: 1px solid #e6e6e6;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	border-radius: 0px;
}

textarea {
	padding-top: 10px;
	font-family: "lato";
	line-height: 23px;
	font-size: 18px;
	vertical-align: middle;
	resize: none;
	color: #7b97aa;
}

textarea:focus {
	font-size: 18px;
	outline: none; 
	color: #7b97aa;
}

::-webkit-input-placeholder {
   color: #7b97aa;
}

:-moz-placeholder { /* Firefox 18- */
   color: #7b97aa;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #7b97aa;  
}

:-ms-input-placeholder {  
   color: #7b97aa;  
}




